@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #0b0f19;
  color: white;
  font-family: 'Inter', sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a; /* dark background */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    #00f5ff,
    #1e90ff
  );
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    to bottom,
    #00ffff,
    #4dd9ff
  );
}
